# List
#### Lists are used to store multiple items in a single variable, lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
#### Lists are created using square brackets:

+ Access list items using index
+ Access list items from reverse using negative index
+ Slicing to access multiple list items
+ len() function
+ in operator to check if element exist in a list or not
+ append() function to append the new element in the list
+ insert() function to insert element at a given position in the python list
+ Add or concate two lists using + operator
+ Replace list items using index operator
+ Replace multiple list items using slicing

In [77]:
# type
names = ['Shan','Ali','Shoaib','Rehman','Abdull']

In [78]:
print(type(names))

<class 'list'>

In [79]:
# Access list items using index
names[:]

['Shan', 'Ali', 'Shoaib', 'Rehman', 'Abdull']

In [80]:
names.index('Shan')

0

In [81]:
names[0]

'Shan'

In [82]:
# negative indexing
names[-1]

'Abdull'

In [83]:
names[-5:-1]

['Shan', 'Ali', 'Shoaib', 'Rehman']

In [84]:
# Slicing to access multiple list items
names[0:4]

['Shan', 'Ali', 'Shoaib', 'Rehman']

In [85]:
#len() function
len(names)

5

In [86]:
names

['Shan', 'Ali', 'Shoaib', 'Rehman', 'Abdull']

In [87]:
#in operator to check if element exist in a list or not
print('Shan' in names)
print('Muhammad' in names)

True
False

In [88]:
# append() function to append the new element in the list
print(names)
names.append('Muhammad')
print(names)

['Shan', 'Ali', 'Shoaib', 'Rehman', 'Abdull']
['Shan', 'Ali', 'Shoaib', 'Rehman', 'Abdull', 'Muhammad']

In [89]:
names[:]

['Shan', 'Ali', 'Shoaib', 'Rehman', 'Abdull', 'Muhammad']

In [90]:
# insert() function to insert element at a given position in the python list
print(names)
names.insert(1,'Kanwal')
print(names)
names.insert(7,"Noor")
print(names)

['Shan', 'Ali', 'Shoaib', 'Rehman', 'Abdull', 'Muhammad']
['Shan', 'Kanwal', 'Ali', 'Shoaib', 'Rehman', 'Abdull', 'Muhammad']
['Shan', 'Kanwal', 'Ali', 'Shoaib', 'Rehman', 'Abdull', 'Muhammad', 'Noor']

In [91]:
# insert() function to insert element at a given position in the python list
psotive_num =[1,2,3,4,5]
negative_num = [-1,-2,-3,-4,5]
print(psotive_num + negative_num)

[1, 2, 3, 4, 5, -1, -2, -3, -4, 5]

In [92]:
# Replace list items using index operator
print(names)
names[6]='Muhammad Ali'
print(names)

['Shan', 'Kanwal', 'Ali', 'Shoaib', 'Rehman', 'Abdull', 'Muhammad', 'Noor']
['Shan', 'Kanwal', 'Ali', 'Shoaib', 'Rehman', 'Abdull', 'Muhammad Ali', 'Noor']

In [93]:
# Replace list items using index operator
print(names)
names[6:8]=["Noor Muhammad Ali"]
print(names)

['Shan', 'Kanwal', 'Ali', 'Shoaib', 'Rehman', 'Abdull', 'Muhammad Ali', 'Noor']
['Shan', 'Kanwal', 'Ali', 'Shoaib', 'Rehman', 'Abdull', 'Noor Muhammad Ali']

In [94]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']