## String introduction and index operator
+ String slicing Index tells us about which charachter is located at whi
+ len() function 
+ in operator
+ not in operator
+ str does not support item assignment
+ replace() function
+ dir() function
+ upper() and lower() function
+ is digit() function
+ index() function
+ str() function
+ \ to escape ' and ""
+ multiline string using tripple quotes (''')
+ \n and \t characters
+ +operator to join two strings

In [9]:
# Index always starts from 0
name = "Shan Ali"
name.index('S')

0

In [2]:
name[2]

'a'

In [13]:
name[-1]

'i'

In [14]:
# len is a function which tells us about length of object.
len(name)

8

In [21]:
num = "one,two,three,four,five"
len(num)

23

In [26]:
print(len(num))
print(num.index("o"))
print(num[:])

23
0
one,two,three,four,five

In [24]:
# in operator tells us object is present or not in datase"
print("one" in num)
print("Seven" in num)

True
False

In [28]:
#not operator
print("one" not in num)
print("Seven" not in num)

False
True

In [29]:
# str does not support item assignment
print(num[0:])

one,two,three,four,five

In [30]:
num[0] = "T"

TypeError: 'str' object does not support item assignment

In [31]:
num.replace("one","ONE")

'ONE,two,three,four,five'

In [32]:
num

'one,two,three,four,five'

In [33]:
num = num.replace("one","ONE")

In [34]:
num

'ONE,two,three,four,five'

In [35]:
dir(num)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
# upper() and lower() function
name = "ali"
print(name)

ali

In [42]:
name = name.upper()
print(name)

ALI

In [43]:
name = name.lower()
print(name)

ali

In [44]:
# joing of strings using + operator
"shan" + "Ali"

'shanAli'

In [46]:
f_name = "Shan"
L_name = "Ali"
full_name = f_name + L_name
print(full_name)

ShanAli

In [50]:
f_name = "Shan"
L_name = "Ali"
full_name_1 = "Shan" + "Lashari"
full_name_1

'ShanLashari'

In [57]:
# str() function
state = 4
text ="State in Pakistan : "

In [52]:
state + text

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [58]:
text + str(state)

'State in Pakistan : 4'

In [59]:
# multiline string using tripple quotes (''')
text = 'Let's learn python'

SyntaxError: invalid syntax (<ipython-input-59-fea59b9a75b5>, line 2)

In [61]:
text = "let's learn python"
text

"let's learn python"

In [62]:
text = 'let\'s learn python'
text

"let's learn python"

In [79]:
print("apple\norange")

apple
orange

In [81]:
numbers= "one\ntwo\nthree"
print(numbers)

one
two
three

In [82]:
numbers ="one\ttwo\tthree"
print(numbers)

one	two	three

# Excercise
+ Create 3 variables to store street, city and country, now create address variable to store entire address
Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
+ Create a variable to store the string "Earth revolves around the sun"
+ Print "revolves" using slice operator
+ Print "sun" using negative index
+ Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday.
 Use python f string for this.
+ I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'.
 Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.